<?php
//DB 1 is for students, DB 2 for visits
$db1 = array('name' => "localhost", 'uname' => "", 'passwd' => "", 'dbname' => "students");
$db2 = array('name' => "localhost", 'uname' => "", 'passwd' => "", 'dbname' => "library");
?>
